@font-face {
  font-family: 'GeekbleMalrangiche';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YPairing';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/YPairingFont.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0 auto;
}

.App {
  width: 100vw;
  height: 99vh;

  text-align: center;
  font-family: 'GeekbleMalrangiche';

  background-color: #FFFAF0;
  cursor: url('./cur.cur'), auto;
}

/***************** header *****************/
.App-header {
  width: fit-content;
  display: flex;
  align-items: center;
}

.clock {
  padding: 30px;
}

.Manual {
  font-family: 'YPairing';
  margin: 30px auto;
  background: #FFFDF9;
  border: 1px dashed #E8E3DA;
  border-radius: 18px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.6;
}

.show-manual,
.hide-manual {
  padding: 10px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}

.hide-manual {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
}

/***************** canvas *****************/
.DrawContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DrawContainer .item {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item span {
  margin: 10px;
  line-height: 15px;
  font-size: 15px;
}

.Draw-canvas {
  width: 800px;
  height: 600px;
  margin-bottom: 10px;
  cursor: none;
  border: 1px solid #E8E3DA;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-option {
  margin-right: 3px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: url('./curClick.cur') 2 2, auto;
}

button {
  margin: 10px 10px 0 0;
  background-color: #FFE4D6;
  border: none;
  border-radius: 20px;
  padding: 12px 22px;
  font-weight: 500;
  color: #2E2E2E;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  font-family: 'GeekbleMalrangiche';
  cursor: url('./curClick.cur'), auto;
}

button:hover {
  transform: translateY(-2px);
}