@font-face {
  font-family: 'NostalgicPoliceFairness';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-6@1.0/Griun_PolFairness-Rg.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KotraHope';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: 'KotraHope';
  cursor: url('./a.cur'), auto;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
}

.starting {
  padding-top: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.start {
  left: 450px;
  top: 710px;
  position: absolute;
  z-index: 3;
  width: 150px;
  height: 50px;

  border-radius: 40px;
  border: #83fffd solid 2px;
}

.start:hover {
  font-weight: bold;
  color: #83fffd;
  background-color: rgb(237, 237, 237);
  box-shadow: 2px 2px 3px #bcc2c4dd;
}

@keyframes bounce {
  0% {
    top: 0;
  }

  100% {
    top: -20px;
  }
}

h1 {
  position: relative;
  animation: bounce 0.5s ease-in-out infinite alternate;
  animation-delay: 0.1s;
}

audio {
  width: 100%;
  float: right;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  all: unset;
}

.board-row {
  z-index: 1;
  display: flex;
  margin-left: 30%;
}

.board-row button {
  font-size: 3rem;
  width: 100px;
  height: 100px;
  cursor: url('./m.cur'), auto;
  background-color: white;
  border: 2px solid #71bfff;
}

.board-row button:hover {
  background-color: rgb(242, 247, 249);
  box-shadow: inset -3px -3px 2px #bcc2c4dd;
}

li {
  position: relative;
  list-style-type: none;
}

.girl {
  width: 20%;
  margin-top: 48%;
  margin-left: 77%;
  float: right;
  position: absolute;
  z-index: -1;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
  opacity: 0.8;
}